
.municipios-page {
    padding: 20px; 
  }  

  .municipio-link {
    margin: 20px; /* Adiciona margem ao redor do link */
  }
  
  .municipio-image {
    background-color: rgb(104, 104, 236);
    width: 20%; /* Defina a largura desejada */
    height: 20%; /* Defina a altura desejada */
    border-radius: 10px;
  }  
/*------------------------------------------------Gráfico-------------------------*/
.grafico {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .iframe-container {
    display: flex;
    width: 100%;
    gap: 5px; /* Adiciona uma distância de 5px entre os iframes */
  }
  
  .iframe-grande {
    width: calc(60% - 10px); /* Subtrai 10px para acomodar os 5px de margem de cada lado */
    height: 500px;
    border: none;
  }
  
  .iframe-pequeno {
    width: calc(35% - 10px); /* Subtrai 10px para acomodar os 5px de margem de cada lado */
    height: 350px;
    border: none;
  }
  
  /* Consultas de mídia para dispositivos móveis */
  @media (max-width: 768px) {
    .iframe-grande {
        height: 350px;
    }

    .iframe-pequeno {
        height: 300px;
    }

    .grafico {
      flex-direction: column;
      gap: 10px; 
    }

    .municipios-page {
        padding: 0; 
      }

    .municipio-link {
        margin: 5px; 
      }
              
    .iframe-container {
      flex-direction: column; 
    }
  
    .iframe-grande,
    .iframe-pequeno {
      width: 100%; /* Ocupa 100% da largura da tela em dispositivos móveis */
      margin: 0; 
    }
  }
  