.municipios-page {
  padding: 20px;
}

.municipio-link {
  margin: 20px;
}

.municipio-image {
  background-color: rgb(104, 104, 236);
  width: 20%;
  height: 20%;
  border-radius: 10px;
}

/*------------------------------------------------Gráfico-------------------------*/
.grafico {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.iframe-container {
  display: flex;
  width: 100%;
  gap: 5px;
  flex-wrap: wrap;
  margin-top: 20px;
  /* Ajuste a margem superior */
  margin-bottom: 20px;
  /* Adicione margem inferior */
}

.iframe-grande {
  width: calc(33.33% - 10px);
  height: calc(100vh - 470px);
  /* Ajuste a altura para preencher o espaço disponível */
  border: 1px solid antiquewhite;
}

.iframe-pequeno {
  width: calc(33.33% - 10px);
  height: calc(100vh - 470px);
  /* Ajuste a altura para preencher o espaço disponível */
  border: 1px solid antiquewhite;
  transform-origin: 0 0;
}

@media (max-width: 768px) {
  .iframe-container {
    flex-direction: column;
    gap: 10px;
  }

  .iframe-grande {
    height: 330px;
  }

  .iframe-pequeno {
    height: 330px;
  }

  .grafico {
    flex-direction: column;
    gap: 10px;
  }

  .municipios-page {
    padding: 0;
  }

  .municipio-link {
    margin: 5px;
  }

  .iframe-grande,
  .iframe-pequeno {
    width: 100%;
    margin: 0 0 20px 0;
    transform: none;
    overflow: hidden;
  }
}

@media (min-width: 768px) and (max-width: 1366px) {
  .iframe-container {
    height: 700px;
    gap: 5px;
  }   
  .iframe-pequeno {
    width: calc(33.33% - 4px);
    height: 60vh ;    
  } 
}